@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container::-webkit-scrollbar {
  width: 5px;
  background-color: #120F13;
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #393c3f;
  border-radius: 8px;
}